@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background: #000;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
}

header .logo img {
  max-width: 150px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a {
  color: #de0611;
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);

  outline: none;
  border-radius: 5px;

  padding: 0 10px 0 45px;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: #fff;
}

.search .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 50px;
  color: #fff;
  border-radius: 1px solid #fff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 550px;
}

.movieTitle {
  max-width: 250px;
}

.banner .content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.banner .content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
  padding-left: 0;
}

.banner .content h4 span:last-child {
  border-right: none;
}

.banner .content h4 span i {
  background: #de0611;
  color: #fff;
  padding: 0 8px;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}

.banner .content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin: 10px 0 20px;
}

.banner .content .buttons {
  position: relative;
}

.banner .content .buttons a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #de0611;
  color: #fff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner .content .buttons a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.banner .content .buttons a:hover:nth-child(2) {
  background: #de0611;
}

.play {
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  cursor: pointer;
}

.play img {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 50px;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
}

.trailer .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}

@media (max-width: 991px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }

  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .banner {
    padding: 100px 50px;
  }

  .banner .play {
    left: 50px;
    font-size: 1em;
  }

  .play img {
    margin-right: 10px;
    max-width: 40px;
  }

  .trailer video {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  header {
    padding: 20px;
  }

  .search {
    position: relative;
    width: calc(100% - 20px);
    height: 40px;
  }

  .banner {
    padding: 220px 20px 100px;
  }

  .banner .pay {
    left: 20px;
    font-size: 1em;
    bottom: 30px;
  }
}
